@import "@/assets/vars/modifiers/main";

.width {
  &--wide {
    width: 100% !important;
  }

  &--auto {
    width: auto !important;
  }

  &--80 {
    width: 80% !important;
  }

  &--70 {
    width: 70% !important;
  }
}
