.editable-cell {
  position: relative;

  &-input-wrapper,
  &-text-wrapper {
    padding-right: 24px;
  }

  &-input-wrapper {
    display: flex;
    align-items: center;
  }

  &-text-wrapper {
    padding: 5px 24px 5px 5px;
  }

  &-icon,
  &-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
  }

  &-icon {
    margin-top: 4px;
    display: none;
  }

  &-icon-check {
    line-height: 28px;
  }

  &-icon:hover,
  &-icon-check:hover {
    color: #108ee9;
  }

  .editable-add-btn {
    margin-bottom: 8px;
  }
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}
